<!--
    DO NOT CHANGE
-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}


    </style>
</head>
<body>
<div>
    <img src="/image/error.png" alt="Elgoog" style="width:256px;height:256px;">
    <h1>Something went wrong! </h1>
    <h2>There's hope elsewhere.</h2>
    <form action="/">
        <button style="font-size:16px"> Back To Search <i class="fa fa-hand-o-right"></i></button>
    </form>
</div>
</body>
</html>